/* 注册页面样式 */
/* 通用样式已在 global.css 中定义 */

.mainContainer {
    -fx-border-color: #f39c12;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.label:focused {
    -fx-text-fill: #f39c12;
}

.text-field:error, .password-field:error {
    -fx-border-color: red;
}